<!-- Navbar -->
<nav id="smartNavbar" class="navbar navbar-expand-lg navbar-light container-sm p-auto py-5 mt-4 shadow-lg bg-body-tertiary fixed-top">
  <div class="container-fluid px-5">
    <!-- Brand / Logo -->
      <a class="navbar-brand" href="#">
        <img src="/static/images/logo2.png" width="130" height="50" alt="" />
      </a>
    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto ms-auto my-2 my-lg-0 navbar-nav-scroll">
        <!-- Common links -->
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'home' %}active{% endif %}"
            href="#home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'products' %}active{% endif %}"
            href="#products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'about' %}active{% endif %}"
            href="/about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'contact' %}active{% endif %}"
            href="/contact"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'contact' %}active{% endif %}"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            ><i class="bi bi-person"></i
          ></a>
        </li>
        <!-- Conditional links (depends if logged in or not) -->
        </li>
      </ul>
    </div>
  </div>
</nav>
