<nav
  id="smartNavbar"
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow"
>
  <div class="container-sm">
    <a class="navbar-brand ms-3" href="/admin/dashboard">
      <img src="/static/images/logo.png" width="130" height="50" alt="Logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#adminNavbar"
      aria-controls="adminNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin.dashboard' %}active{% endif %}"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin.dashboard' %}active{% endif %}"
            href="/admin/dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin.products' %}active{% endif %}"
            href="/admin/products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin.orders' %}active{% endif %}"
            href="/admin/orders"
            >Orders</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin.users' %}active{% endif %}"
            href="/admin/users"
            >Users</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin.products' %}active{% endif %}"
            href="/admin/reports"
            >Reports</a
          >
        </li>
        {% if user %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hello, {{ user['is_admin'].capitalize() }} {{
            user['is_admin'].capitalize() }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('admin.admin') }}"
                data-bs-toggle="modal"
                data-bs-target="#profileModal"
                ><i class="bi bi-person"></i> Profile</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('login.logout') }}"
                ><i class="bi bi-box-arrow-right"></i> Logout</a
              >
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script src="{{ url_for('static', filename='profileModal.js')}}"></script>
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script>
  let prevScrollpos = window.pageYOffset;
  const navbar = document.getElementById("smartNavbar");
  navbar.style.top = "0"; // navbar visible on page load

  window.onscroll = function () {
    let currentScrollPos = window.pageYOffset;

    if (prevScrollpos > currentScrollPos) {
      // scrolling up → show navbar
      navbar.style.top = "0";
    } else {
      // scrolling down → hide navbar
      navbar.style.top = "-120px"; // adjust based on navbar height
    }

    prevScrollpos = currentScrollPos;
  };
</script>
