<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header d-block">
        <div class="w-100 text-center">
          <img
            src="{{ url_for('static', filename='images/logo.png') }}"
            width="130"
            height="50"
            alt="Logo"
          />
        </div>
        <button
          type="button"
          class="btn-close btn-close-white position-absolute top-0 end-0 m-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <h5 class="modal-title"><i class="bi bi-person"></i> My Profile</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-white">
            <strong>Username:</strong> {{ user.username }}
          </li>
          <li class="list-group-item bg-dark text-white">
            <strong>First Name:</strong> {{ user.firstname }}
          </li>
          <li class="list-group-item bg-dark text-white">
            <strong>Address:</strong> {{ user.address }}
          </li>
          <li class="list-group-item bg-dark text-white">
            <strong>Account Type:</strong>
            {% if user.is_admin == "admin" %} Admin {% else %} Client {% endif
            %}
          </li>
          <li class="list-group-item bg-dark text-white">
            <strong>Joined:</strong> {{ user.created_at }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editProfileModal"
          id="openEditProfile"
        >
          <i class="bi bi-pencil"></i> Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>
