<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %}
        Base HTML
        {% endblock %}

    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body> {% include "partials/header.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <main> {% block content %}

        {% endblock %}

    </main> {% include "partials/footer.html" %}

    {% block extra_script %}
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script>
        // Auto-dismiss flash messages after 4 seconds
        setTimeout(() => {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                let bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            });
        }, 4000); // 4000ms = 4 seconds
    </script>
    {% endblock %}

</body>


</html>